<!doctype html>
<html>

<head>
  <!-- Set the title of the page dynamically based on the 'shopName' variable -->
  <title>About <%=shopName%>
  </title>

  <!-- Link to an external stylesheet to style the page -->
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading with the shop's name -->
  <h1>About <%=shopName%>
  </h1>

  <!-- Provide some information about the shop -->
  <p>We sell all sorts of books and nothing else!</p>
</body>

</html>