<!doctype html>
<html>

<head>
  <!-- Set the title of the page dynamically based on the 'shopName' variable -->
  <title>Add book <%=shopName%>
  </title>

  <!-- Link to an external stylesheet to style the page -->
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading for the search page with the shop's name -->
  <h1>Search <%=shopName%>
  </h1>

  <!-- Create a form for adding a book. The form sends a POST request to "/bookadded" on submission -->
  <form action="/bookadded" method="POST">
    <!-- Prompt the user for the book's name -->
    <p>What book do you want to add?</p>
    <!-- Input field for the book's name -->
    <input id="book" type="text" name="name" value="name:">
    <br>
    <!-- Prompt the user for the price of the book -->
    <p>What is the price of the book?</p>
    <!-- Input field for the price of the book -->
    <input id="price" type="text" name="price" value="price:">
    <!-- Submit button to add the book -->
    <input type="submit" value="Add">
  </form>
</body>

</html>